openapi: 3.0.1

info:
  title: 6 River Systems Template API
  description: |
    This API describes interactions with the 6RS Template subsystem
  version: 1.x.x
  contact:
    name: 6 River Systems
    url: https://6river.com

tags:
  - name: Internal
    description: |
      This is an internal API used between 6RS components.

paths:
  /v1/template-message:
    post:
      tags:
        - Internal
      summary: Submit a Template Message
      description: |
        TODO
      operationId: TODO
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateMessage'
      responses:
        201:
          description: |
            TODO
          content:
            application/json:
              schema:
                $ref: 'https://frontend-apps.6river.org/api/v/openapi.yaml#/components/schemas/BaseWithId'
        400:
          $ref: 'https://frontend-apps.6river.org/api/v/openapi.yaml#/components/responses/BadRequest'
        403:
          $ref: 'https://frontend-apps.6river.org/api/v/openapi.yaml#/components/responses/Unauthorized'
        422:
          $ref: 'https://frontend-apps.6river.org/api/v/openapi.yaml#/components/responses/UnprocessableEntity'
        500:
          $ref: 'https://frontend-apps.6river.org/api/v/openapi.yaml#/components/responses/InternalServerError'

components:
  schemas:
    TemplateMessage:
      $ref: 'definitions/TemplateMessage.yaml'

    ObjectId:
      $ref: 'definitions/ObjectId.yaml'
